* {
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    background-color: #E3F0FF;
}

.img{
    display: block;
    margin: 8rem auto;
    margin-bottom: 1rem;
    max-width: 100%;
}

h2{
    font-size: 1.5rem;
    line-height: 37px;
    text-align: center;
    padding-left: 0rem;
    font-family: 'Paprika';
}

h6{
    
font-family: 'Questrial';
opacity: 50%;
font-size: 1.5rem;
line-height: 23px;
align-items: center;
text-align: center;
padding-top: 2rem;
}
