* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e3f0ff;
  font-family: "Questrial";
}
a.homeIcon {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}
a:hover {
  color: #072f54;
}
.header {
  height: 3rem;
  padding: 1.2rem 1rem;
}
#name{
    margin-bottom: 8px;
    font-size: 1.2rem;
}
#Classification{
    margin-bottom: 8px;
}
#logo{
    width: 8rem;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#courseContainer {
  background-color: white;
  padding: 1.5rem 1.5rem;
  margin: 1rem;
  border: solid white 2px;
  border-radius: 20px;
  overflow: hidden;
}
#liveLink:hover {
  cursor:pointer;
}
#courseContainer:hover {
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.15);
    transform: translate3D(0, -2px, 0);
  }
@media screen and (min-width: 768px) {
    #box {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  /* Media Query for Laptop */
  
  @media screen and (min-width: 1024px) {
    #box {
      flex: 1 1 calc(30% - 1.5rem);
    }
  }

